.chat-box {
	min-height: 500px;
}

#chat-space {
	height: 80%;
	overflow-y: auto;
}

.gif {
	height: 100px;
	width: 150px;
	cursor: move;
}

#canvas {
	height: 60%;
}

#main-window {
	display: none;
}
.scrolling-wrapper {
  	overflow-x: scroll;
  	overflow-y: scroll;
  	white-space: nowrap;
}
.scrolling-wrapper .gifResults {
	margin-top:10px;
    margin-right:10px;
}

#showResultsText{
	font-style: italic;
}

#searchText {
	font-style: italic;
	font-weight: bold;
}